h6{
    overflow-wrap: break-word;
}

body{
    font-family: "Poppins";
    padding: 20px;
}

.field{
    position: relative;
    max-width: 500px;
}

.input{
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    transition: all 0.2s linear;
}

.input:focus{
    border-color: #6a5af9;
}

.eye{
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    max-width: 20px;
}

.hidden{
    display: none;
}